@page "/edit"
@using MachinePark.Service
@inject MachineStorageService MachineStorageService



<h3>EditMachine</h3>

@code {
    [Parameter]
    public int SelectedMachineId { get; set; }



    protected override void OnInitialized()
    {
        MachineStorageService.OnChange += StateHasChanged;

        
    }
    private bool MachineExists(){
        return MachineStorageService.MachineExists(SelectedMachineId);
    }
    public void Dispose()
    {

        MachineStorageService.OnChange -= StateHasChanged;
    }
}
