@page "/edit"
@using MachinePark.Service
@inject MachineStorageService MachineStorageService
@inject PageManager PageManager



<h3>EditMachine</h3>

@code {
    [Parameter]
    public int SelectedMachineId { get; set; }



    protected override void OnInitialized()
    {
        MachineStorageService.OnChange += StateHasChanged;

        SelectedMachineId = PageManager.SelectedMachineId;
        if (!MachineExists())
        {
            throw new Exception($"No machine with Id {SelectedMachineId} could be found.");
        }
    }
    private bool MachineExists(){
        return MachineStorageService.MachineExists(SelectedMachineId);
    }
    public void Dispose()
    {

        MachineStorageService.OnChange -= StateHasChanged;
    }
}
