@page "/MachineManager"
<div class="container">
    <h3>MachineManagementCentral</h3>
    <div class="row">
        <div class="col-8 col-lg-5">
            <div class="machineListComponent shadow">
                <MachineList />
            </div>
        </div>

    </div>
</div>

@code {

}
